  <div class="col-md-10">
     <ul class="nav nav-tabs" role="tablist">
       <li class="active"><a href="#">Roster</a></li>
       <li><a href="#">Top Stories </a></li>
       <li><a href="#">Season Information</a></li>
       <li><a href="#">Schedule</a></li>
       <li><a href="#">Video</a></li>
       <li><a href="#">Photography</a></li>
     </ul>
   </div>

   <div class="col-md-8 col-md-offset-1 extramargin">
     <%= link_to image_tag("team.jpg", :alt => "team_pic"), {:class => "img-responsive", :alt => "Team Pic"} %>
     <p class="lead text-center"> UNC Gymnastics 2012-2013 </p>

   </div>



   <div class="col-md-12">

   <div class="table-responsive">

   <table class="table table-bordered">
   
   <tr>
           <th class="tableheader">Name</th>
           <th class="tableheader">Position</th>
           <th class="tableheader">Year</th>
           <th class="tableheader">Hometown</th>
   </tr>
       <tr>
           <td>Kristin Aloi</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
       </tr>
       <tr>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
       </tr>
       <tr>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
       </tr>
       <tr>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
       </tr>
       <tr>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
       </tr>
       <tr>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
       </tr>
       <tr>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
       </tr>
       <tr>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
       </tr>
       <tr>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
       </tr>
       <tr>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
       </tr>
       <tr>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
       </tr>
       <tr>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
           <td>Table Cell</td>
       </tr>
   </table>
 </div>




   <div class="col-md-12">
     <h3> Head Coach </h3>
     <p> John Doe </p>
     <h3> Assistant Coach </h3>
     <p> Jane Doe </p>
   </div>

 </div>
 </div>