    <div class="col-md-10">
       <ul class="nav nav-tabs" role="tablist">
         <li class="active"><a href="#">At a Glance</a></li>
         <li><a href="#">Blog </a></li>
         <li><a href="#">Videos/Photos</a></li>
       </ul>
     </div>



    <div class="col-md-2 extramargin">
      
 <%= link_to image_tag("player_pic.jpg", :alt => "player_pic"), {:class => "img-responsive", :alt => "Player Pic"} %>
    </div>


    <div class="col-md-8 extramargin">

      <div class="table-responsive">
     <table class="table table-bordered">
                  <tr>
                 <th class="playertableheading" colspan="2"> <h1 class="playertablename"> Kristin Aloi </h1> </th>
                 </tr>
                 <tr>
                 <td colspan="2"> </td>
                 </tr>
                 <tr>
                 <td> <h4> Position </h4> </td>
                 <td>All-Around </td>
                 </tr>
                
                 <tr>
                 <td> <h4> Year </h4></td>
                 <td>Junior </td>
                 </tr>
                
                 <tr>
                 <td> <h4> Hometown </h4> </td>
                 <td> Winston-Salem, NC</td>
                 </tr>
                
                 <tr>
                 <td> <h4> High School </h4></td>
                 <td> Mount Tabor</td>
                 </tr>
                 </table>
</div>

    </div>

<div class="col-md-10">
  <h2> 2012 Stats </h2>
<div class="table-responsive">
  <table class="table table-bordered">
      <tr>
          <td class="tableheader">Meet Name</td>
          <td class="tableheader">Vault Score </td>
          <td class="tableheader">Beam Score</td>
          <td class="tableheader">Floor Score</td>
          <td class="tableheader">Bars Score</td>
          <td class="tableheader">Vault Place</td>
          <td class="tableheader">Beam Place</td>
          <td class="tableheader">Floor Place</td>
          <td class="tableheader">Bars Place</td>
      </tr>
      <tr>
          <td>Kristin Aloi</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td> Table Cell </td>
      </tr>
      <tr>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
      </tr>
      <tr>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
      </tr>
      <tr>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
      </tr>
      <tr>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
      </tr>
      <tr>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
      </tr>
      <tr>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
      </tr>
      <tr>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
      </tr>
      <tr>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
      </tr>
      <tr>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
      </tr>
      <tr>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
      </tr>
      <tr>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
          <td>Table Cell</td>
      </tr>
  </table>


</div>
</div>

